@using Microsoft.AspNetCore.Http;
@using Baseline.Models;


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
    @{
        var user = (User)ViewData["user"];
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://blogwebsitead.azurewebsites.net"> Blog Assignment</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Context.Session.GetString("UserId") != null)
                    {

                        <li><a class="navbar-brand"> Welcome! @Context.Session.GetString("UserName")</a></li>
                        <li><a class="navbar-brand">@Html.ActionLink("Create Blog Post", "AddBlogPost", "Home")</a></li>
                        <li><a class="navbar-brand">@Html.ActionLink("Add Bad Words", "ViewBadWords", "Home")</a></li>
                        <li><a class="navbar-brand">@Html.ActionLink("Logout", "Logout", "Home")</a></li>
                    }
                    else
                    {
                        <li><a class="navbar-brand">@Html.ActionLink("Log In", "LogIn", "Home")</a></li>
                        <li><a class="navbar-brand">@Html.ActionLink("Register", "Register", "Home")</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr>

            @if (Context.Session.GetString("UserId") != null)
            {
            }
            else
            {

            }

        </footer>

    </div>



    @RenderSection("scripts", required: false)
</body>
</html>
